<%- include('../partials/header') %>

<div class="container">
  <h2>Flights List</h2>
  <table class="flights-table">
    <thead>
      <tr>
        <th>Airline</th>
        <th>FlightNo</th>
        <th>Airport</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.airport %></td>
          <td><%= f.departs %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>